<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">TRAINERS</h1>
            <p class="hero-subtitle">전문성과 경험을 갖춘 최고의 트레이너들이 함께합니다</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="section text-center">
            <h2 class="section-title">OUR TRAINERS</h2>
            <p class="section-subtitle">건강한 라이프스타일을 위한 최고의 파트너</p>
            <div class="divider"></div>
        </div>

        <!-- 트레이너 프로필 -->
        <div class="section">
            <div class="row">
                <div class="col-md-6 mb-5" style="padding-left: 0;">
                    <div class="trainer-profile">
                        <div class="row">
                            <div class="col-md-5" style="border: 1px solid rgba(0, 0, 0, 0.3);">
                                <img src="/images/trainer-1.jpg" alt="김민수 트레이너" class="img-fluid">
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <h3 class="trainer-name">홍길동</h3>
                                <p class="trainer-position">헬스 & 근력 트레이닝 전문</p>
                                <div class="trainer-divider"></div>
                                <ul class="trainer-credentials">
                                    <li>생활체육지도자 2급</li>
                                    <li>NSCA-CPT 자격증 보유</li>
                                    <li>보디빌딩 대회 수상 경력</li>
                                    <li>10년 이상의 트레이닝 경력</li>
                                </ul>
                                <p class="trainer-description">체계적인 근력 트레이닝과 영양 관리를 통해 회원님의 목표 달성을 도와드립니다.</p>
                                <a href="#" class="btn btn-outline-dark">프로필 더보기</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5" style="padding-right: 0;">
                    <div class="trainer-profile">
                        <div class="row">
                            <div class="col-md-5" style="border: 1px solid rgba(0, 0, 0, 0.3);">
                                <img src="/images/trainer-2.jpg" alt="이지연 트레이너" class="img-fluid">
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <h3 class="trainer-name">홍이동</h3>
                                <p class="trainer-position">요가 & 필라테스 전문</p>
                                <div class="trainer-divider"></div>
                                <ul class="trainer-credentials">
                                    <li>요가 지도자 자격증</li>
                                    <li>필라테스 지도자 자격증</li>
                                    <li>체형 교정 전문가</li>
                                    <li>8년 이상의 강의 경력</li>
                                </ul>
                                <p class="trainer-description">몸과 마음의 균형을 찾아 건강한 라이프스타일을 만들어 드립니다.</p>
                                <a href="#" class="btn btn-outline-dark">프로필 더보기</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5" style="padding-left: 0;">
                    <div class="trainer-profile">
                        <div class="row">
                            <div class="col-md-5" style="border: 1px solid rgba(0, 0, 0, 0.3);">
                                <img src="/images/trainer-3.jpg" alt="박준호 트레이너" class="img-fluid">
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <h3 class="trainer-name">홍삼동</h3>
                                <p class="trainer-position">재활 & 기능적 트레이닝 전문</p>
                                <div class="trainer-divider"></div>
                                <ul class="trainer-credentials">
                                    <li>물리치료사 자격증</li>
                                    <li>기능적 움직임 전문가</li>
                                    <li>스포츠 재활 트레이너</li>
                                    <li>12년 이상의 임상 경험</li>
                                </ul>
                                <p class="trainer-description">부상 예방과 재활을 통해 건강한 신체 기능을 회복하고 유지할 수 있도록 도와드립니다.</p>
                                <a href="#" class="btn btn-outline-dark">프로필 더보기</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5" style="padding-right: 0;">
                    <div class="trainer-profile">
                        <div class="row">
                            <div class="col-md-5" style="border: 1px solid rgba(0, 0, 0, 0.3);">
                                <img src="/images/trainer-4.jpg" alt="최서연 트레이너" class="img-fluid">
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <h3 class="trainer-name">홍사동</h3>
                                <p class="trainer-position">다이어트 & 영양 전문</p>
                                <div class="trainer-divider"></div>
                                <ul class="trainer-credentials">
                                    <li>영양사 자격증</li>
                                    <li>스포츠 영양 전문가</li>
                                    <li>체중 관리 프로그램 개발</li>
                                    <li>7년 이상의 다이어트 코칭 경력</li>
                                </ul>
                                <p class="trainer-description">과학적인 영양 관리와 운동 프로그램으로 건강한 체중 감량을 도와드립니다.</p>
                                <a href="#" class="btn btn-outline-dark">프로필 더보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 트레이너 자격 요건 -->
        <div class="section bg-light py-5">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-title">트레이너 자격 요건</h2>
                    <div class="divider"></div>
                    <p class="mb-4">저희 헬스장의 모든 트레이너는 국내외 공인 자격증을 보유하고 있으며, 정기적인 교육과 훈련을 통해 최신 트렌드와 기술을 습득하고 있습니다.</p>
                    <p class="mb-4">각 분야의 전문가들이 회원님의 목표와 상태에 맞는 맞춤형 프로그램을 제공해 드립니다.</p>
                    <a href="/reservation" class="btn btn-dark btn-lg mt-3">무료 상담 신청하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>